.cards {
    margin: 50px 0;

    .img {
        width: 370px;
        margin: auto;
        display: block;
        margin-bottom: 50px;
        @media (max-width: 770px){
            width: 80%;
        }
    }

    .card {
        margin: 0 2% !important;
        width: 25vw;
        @media (max-width: 770px){
            margin: 2% 0 !important;
        }
    }

    .infected {
        border-bottom: 10px solid blue;
    }

    .recovered {
        border-bottom: 10px solid green;
    }

    .deaths {
        border-bottom: 10px solid red;
    }

}